/* FOR ENTIRE SITE */
/* FOR ENTIRE SITE */
body {
    margin: 0;
    background-color: #e6dec2;

    /* background: url(ac-new-horizons-nook-pattern-1920x1080-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    
}

#container {
    width: 900px;
    margin: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #865920;
}

/* TOP BAR */
/* TOP BAR */
#bar {
    display: block;
    position: flex;

    background-color: #f7f8df;
    height: 50px;
    width: 850px;
    margin-left: 25px;
}

#barcircle1 {
    display: block;
    position: absolute;
    background-color: #f7f8df;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    margin-left: -25px;
}

#barcircle2 {
    display: block;
    position: absolute;
    background-color: #f7f8df;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    margin-left: 825px;
}

.checked {
    color: #f5c810;
    transform: scale(1.3);

    margin-left: 5px;
    margin-top: 18px;
}

#stitle {
    position: absolute;
    margin-top: -41px;
    margin-left: 35px;
}

#container2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 50px;
    align-items: center;

    margin-top: 50px;
}

/* GYROID */
/* GYROID */
#boxone {
    background-color: #f7f8df;
    border-radius: 30px;
    height: 600px;
}

#label {
    position: absolute;
    background-color: #cec396;
    border-radius: 30px;
    height: 40px;
    width: 130px;

    margin-top: -20px;
    margin-left: 50px;
}

#gyroidname {
    position: absolute;
    margin-left: 93px;
    margin-top: -12px;
}

/* CUSTOMIZE */
/* CUSTOMIZE */
#boxtwo {
    background-color: #f7f8df;
    border-radius: 30px;
    height: 600px;
}

#label2 {
    position: absolute;
    background-color: #cec396;
    border-radius: 30px;
    height: 40px;
    width: 130px;

    margin-top: -20px;
    margin-left: 75px;
}

#customize {
    position: absolute;
    margin-left: 99px;
    margin-top: -12px;
}

/* FOOTER */
/* FOOTER */
/* #credits {
    text-align: center;
    margin-top: 50px;
}

#credittext {
    font-size: 12px;
}*/